@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/poppins_400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/poppins_800.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins; }

body {
  width: 100vw;
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
  background-image: url("../images/bg0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.9); }

#nav {
  margin: 0px auto;
  width: 80vw;
  min-height: 50px;
  display: flex;
  flex-direction: column; }

#nav #nav_brand,
#nav #nav_options {
  width: 100%;
  font-weight: 800;
  margin: 15px 0px; }

#nav #nav_brand {
  display: flex;
  justify-content: center;
  align-items: center; }
  #nav #nav_brand h1 {
    font-size: 3rem; }
  #nav #nav_brand img {
    width: 40px;
    height: 40px;
    margin-right: 15px; }

#nav #nav_options {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px; }

#nav #nav_options .nav_options_item {
  list-style-type: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  transition: background-color 500ms ease-in-out; }
  #nav #nav_options .nav_options_item img {
    margin-bottom: 8px;
    width: 75px;
    height: 75px; }
  #nav #nav_options .nav_options_item:hover {
    background-color: rgba(255, 255, 255, 0.25); }

#nav #nav_options .highlighted {
  background-color: rgba(255, 255, 255, 0.25); }

ul#list_recipecards {
  margin: 15px auto;
  width: 80vw;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px; }

ul#list_recipecards .list_recipecards_item {
  height: 450px;
  width: 90%;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
  position: relative; }

.list_recipecards_item:hover > .recipe_image,
.list_recipecards_item:focus > .recipe_image {
  transform: scale(1.2); }

ul#list_recipecards .list_recipecards_item .recipe_image,
ul#list_recipecards .list_recipecards_item .overlay {
  height: 100%; }

ul#list_recipecards .list_recipecards_item .recipe_image {
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out; }

ul#list_recipecards .list_recipecards_item .overlay {
  background-image: linear-gradient(180deg, transparent, black);
  background-blend-mode: overlay;
  padding: 15px; }

ul#list_recipecards .list_recipecards_item .recipe_meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 999999;
  top: -135px;
  padding: 15px;
  width: 100%;
  height: 130px; }
  ul#list_recipecards .list_recipecards_item .recipe_meta p {
    text-align: right; }
  ul#list_recipecards .list_recipecards_item .recipe_meta p a {
    text-decoration: none;
    font-style: italic;
    font-size: 0.75rem;
    color: white; }

#btn_more_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 15px;
  padding: 15px; }

#btn_more_container #btn_more {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: white;
  font-weight: 800;
  font-size: 1.75rem;
  margin: 15px;
  padding: 15px;
  cursor: pointer; }
  #btn_more_container #btn_more:hover, #btn_more_container #btn_more:focus {
    border: none;
    outline: none; }

#btn_more_container #btn_more,
#btn_more_container #btn_more img {
  width: 100px;
  height: 100px;
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate; }

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-12px); } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-12px); } }
