
ul#list_recipecards {
    margin: $spacing_md auto;
    width: 80vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $spacing_sm;
}

ul#list_recipecards .list_recipecards_item {
    height: 450px;
    width: 90%;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.list_recipecards_item:hover > .recipe_image,
.list_recipecards_item:focus > .recipe_image {
    transform: scale(1.2);
}

ul#list_recipecards .list_recipecards_item .recipe_image,
ul#list_recipecards .list_recipecards_item .overlay {
    height: 100%;
}

ul#list_recipecards .list_recipecards_item .recipe_image {
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}

ul#list_recipecards .list_recipecards_item .overlay {
    background-image: linear-gradient(180deg, transparent, black);
    background-blend-mode: overlay;
    padding: $spacing_md;
}

ul#list_recipecards .list_recipecards_item .recipe_meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	position: relative;
	z-index: 999999;
    top: -135px;
    padding: $spacing_md;
    width: 100%;
    height: 130px;
    
    h2 {
        font-size: 2rem;
        font-family: $font_header;
    }

    p {
        text-align: right;
    }

    p a {
        text-decoration: none;
        font-style: italic;
        font-size: 0.75rem;
        color: white;
    }
}